.card__title {
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 12px 24px 0;
}

@media screen and (max-width: 800px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 12px 16px 0;
  }
}
@media screen and (max-width: 800px) {
  .card__title {
    line-height: 28px;
    max-height: 56px;
    overflow: hidden;
    margin: 10px 16px;
  }
}