.popup__reg-button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2F71E5;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.popup__reg-button:hover {
  opacity: 0.8;
}

.popup__reg-button:active, .popup__reg-button:focus {
  outline: none;
}