@import url(./_liked/card__bookmark-icon_liked.css);
.card__bookmark-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url(../../../images/bookmark.svg);
}

.card__bookmark-icon:hover {
  background: url(../../../images/bookmark-hover.svg);
}

@media screen and (max-width: 800px) {
  .card__bookmark-icon {
    top: 8px;
    right: 8px;
  }
}

@media screen and (max-width: 5400px) {
  .card__bookmark-icon {
    top: 16px;
    right: 16px;
  }
}