.articles__text {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  padding-top: 120px;
  margin: 0;
}