@import url(./__circle/preloader__circle.css);
@import url(./__text/preloader__text.css);
@import url(./_open/preloader_open.css);

.preloader {
  min-height: 282px;
  max-width: 100%;
  position: relative;
  background-color: #F5F6F7;
  display: none;
}