.articles__keywords {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0;
  padding-top: 30px;
}

@media screen and (max-width: 900px) {
  .articles__keywords {
    font-size: 14px;
    padding-top: 16px;
  }
}