@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__menu/footer__menu.css);
@import url(./__link/footer__link.css);
@import url(./__list-elem/footer__list-elem.css);
@import url(./__social/footer__social.css);
.footer {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  padding: 0 104px;
  box-sizing: border-box;
}

@media screen and (max-width: 950px) {
  .footer {
    min-height: 64px;
    padding: 0 40px;
  }
}