@import url(./_isVisible/header__mobile-menu_isVisible.css);

.header__mobile-menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 56px;
  background-color: black;
  z-index: 2;
  height: 230px;
  margin: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 16px 24px;
  box-sizing: border-box;
}