.articles__card-group {
  max-width: 100%;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  border: none;
  padding-top: 118px;
}

@media screen and (max-width: 800px) {
  .articles__card-group {
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 8px;
    padding-top: 32px;
  }
}