<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Сервис поиска новостей" />
    <meta name="author" content="Александр Максимкин" />
    <title>News-explorer</title>
    <link rel="icon" href="<%= require('./images/favicon.png') %>" />
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>" />
  </head>
  <body>
    <header class="header header_white-theme">
      <p class="header__text header__text_white-theme">NewsExplorer</p>
      <nav class="header__menu">
        <ul class="header__links">
          <li class="header__list-item header__list-item_isVisible">
            <a
              class="link header__link header__link_white-theme"
              href="./index.html"
              >Главная</a
            >
          </li>
          <li class="header__list-item header__list-item_isVisible">
            <a
              class="link header__link header__link_white-theme header__link_isActive"
              href="/"
              >Сохранённые статьи</a
            >
          </li>
          <li class="header__list-item header__list-item_isVisible">
            <button
              class="button button_isVisible header__button header__button_white-theme"
            >
              Александр<img
                class="header__logout-icon"
                src="<%= require('./images/logout-black.svg') %>"
                alt=""
              />
            </button>
          </li>
          <li class="header__list-item">
            <button class="button header__button">Авторизоваться</button>
          </li>
        </ul>
      </nav>
      <div class="header__mobile-button header__mobile-button_white-theme"></div>
    </header>

    <section class="articles">
      <p class="articles__text">Сохранённые статьи</p>
      <h1 class="subtitle articles__subtitle">
        Грета, у вас 5 сохранённых статей
      </h1>
      <p class="articles__keywords">
        По ключевым словам: <span class="articles__keyword">Природа</span>,
        <span class="articles__keyword">Тайга</span> и
        <span class="articles__keyword"> 2-м другим</span>
      </p>
      <div class="articles__card-group">
        <a class="card" href="#">
          <img
            class="card__image"
            alt=""
            src="<%= require('./images/image_04.png') %>"
          />
          <p class="card__theme">Природа</p>
          <div class="card__delete-icon"></div>
          <p class="card__date">2 августа, 2019</p>
          <p class="card__title">Лесные огоньки: история одной фотографии</p>
          <p class="card__text">
            Фотограф отвлеклась от освещения суровой политической реальности
            Мексики, чтобы запечатлеть ускользающую красоту одного из местных
            чудес природы.
          </p>
          <p class="card__source">Медуза</p>
        </a>

        <a class="card" href="#">
          <img
            class="card__image"
            alt=""
            src="<%= require('./images/image_04.png') %>"
          />
          <p class="card__theme">Природа</p>
          <div class="card__delete-icon"></div>
          <p class="card__date">2 августа, 2019</p>
          <p class="card__title">Лесные огоньки: история одной фотографии</p>
          <p class="card__text">
            Фотограф отвлеклась от освещения суровой политической реальности
            Мексики, чтобы запечатлеть ускользающую красоту одного из местных
            чудес природы.
          </p>
          <p class="card__source">Медуза</p>
        </a>

        <a class="card" href="#">
          <img
            class="card__image"
            alt=""
            src="<%= require('./images/image_04.png') %>"
          />
          <p class="card__theme">Природа</p>
          <div class="card__delete-icon"></div>
          <p class="card__date">2 августа, 2019</p>
          <p class="card__title">Лесные огоньки: история одной фотографии</p>
          <p class="card__text">
            Фотограф отвлеклась от освещения суровой политической реальности
            Мексики, чтобы запечатлеть ускользающую красоту одного из местных
            чудес природы.
          </p>
          <p class="card__source">Медуза</p>
        </a>

        <a class="card" href="#">
          <img
            class="card__image"
            alt=""
            src="<%= require('./images/image_04.png') %>"
          />
          <p class="card__theme">Природа</p>
          <div class="card__delete-icon"></div>
          <p class="card__date">2 августа, 2019</p>
          <p class="card__title">Лесные огоньки: история одной фотографии</p>
          <p class="card__text">
            Фотограф отвлеклась от освещения суровой политической реальности
            Мексики, чтобы запечатлеть ускользающую красоту одного из местных
            чудес природы.
          </p>
          <p class="card__source">Медуза</p>
        </a>

        <a class="card" href="#">
          <img
            class="card__image"
            alt=""
            src="<%= require('./images/image_04.png') %>"
          />
          <p class="card__theme">Природа</p>
          <div class="card__delete-icon"></div>
          <p class="card__date">2 августа, 2019</p>
          <p class="card__title">Лесные огоньки: история одной фотографии</p>
          <p class="card__text">
            Фотограф отвлеклась от освещения суровой политической реальности
            Мексики, чтобы запечатлеть ускользающую красоту одного из местных
            чудес природы.
          </p>
          <p class="card__source">Медуза</p>
        </a>
      </div>
    </section>

    <section class="footer">
      <p class="footer__copyright">© 2020 Supersite, Powered by News API</p>
      <div class="footer__links">
        <ul class="footer__menu">
          <li class="footer__list-elem">
            <a class="footer__link" href="/">Главная</a>
          </li>
          <li class="footer__list-elem">
            <a
              class="footer__link"
              href="https://praktikum.yandex.ru"
              target="_blank"
              >Яндекс.Практикум</a
            >
          </li>
        </ul>
        <a class="footer__social" href=""
          ><img
            class="footer__social-icon"
            src="<%= require('./images/github.svg') %>"
            alt=""
        /></a>
        <a class="footer__social" href=""
          ><img
            class="footer__social-icon"
            src="<%=
          require('./images/VK_BlackWhite_Logo_transparent.png') %>"
            alt=""
        /></a>
      </div>
    </section>

    <div class="popup popup-signin">
      <div class="popup__content">
        <img
          src="<%=require('./images/close.svg')%>"
          alt=""
          class="popup__close popup-add-card__close"
        />
        <h3 class="popup__title">Вход</h3>
        <form class="popup__form" name="signin" id="form-signin">
          <label class="popup__label" for="email">Email</label>
          <input
            type="email"
            name="name"
            id="email"
            class="popup__input"
            placeholder="Введите почту"
            required
          />
          <span class="error-messege" id="error-email">1</span>

          <label class="popup__label" for="password">Пароль</label>
          <input
            name="password"
            type="password"
            class="popup__input"
            placeholder="Введите пароль"
            id="password"
            required
          />
          <span class="error-messege" id="error-password">2</span>

          <button type="submit" class="button popup__button button_isVisible">
            Войти
          </button>
          <p class="popup__text">
            или
            <button type="button" class="popup__reg-button">
              Зарегистрироваться
            </button>
          </p>
        </form>
      </div>
    </div>

    <div class="popup popup-signup">
      <div class="popup__content">
        <img
          src="<%=require('./images/close.svg')%>"
          alt=""
          class="popup__close popup-add-card__close"
        />
        <h3 class="popup__title">Регистрация</h3>
        <form class="popup__form" name="signup" id="form-signup">
          <label class="popup__label" for="email">Email</label>
          <input
            type="email"
            name="name"
            id="email"
            class="popup__input"
            placeholder="Введите почту"
            required
          />
          <span class="error-messege" id="error-email">1</span>

          <label class="popup__label" for="password">Пароль</label>
          <input
            name="password"
            type="password"
            class="popup__input"
            placeholder="Введите пароль"
            id="password"
            required
            minlength="8"
          />
          <span class="error-messege" id="error-password">2</span>

          <label class="popup__label" for="name">Имя</label>
          <input
            name="name"
            type="text"
            class="popup__input"
            placeholder="Введите своё имя"
            id="name"
            required
            minlength="2"
            maxlength="30"
          />
          <span class="error-messege" id="error-name">3</span>

          <span class="error-messege popup-signup__duble-error" id="error-name"
            >Такой пользователь уже есть</span
          >
          <button type="submit" class="button popup__button button_isVisible">
            Зарегистрироваться
          </button>
          <p class="popup__text">
            или <button type="button" class="popup__reg-button">Войти</button>
          </p>
        </form>
      </div>
    </div>

    <div class="popup popup-registered">
      <div class="popup__content popup-registered__content">
        <img
          src="<%=require('./images/close.svg')%>"
          alt=""
          class="popup__close popup-add-card__close"
        />
        <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>
        <button
          type="button"
          class="popup__reg-button popup-registered__button"
        >
          Войти
        </button>
      </div>
    </div>

    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
  </body>
</html>
