@import url(./__input/search-form__input.css);
@import url(./__button/search-form__button.css);
@import url(./__error-messege/search-form__error-messege.css);
.search-form {
  width: 608px;
  height: 64px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .search-form {
    width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 600px) {
  .search-form {
    width: 288px;
    height: auto;
  }
}