@import url(./__text/header__text.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__list-item/header__list-item.css);
@import url(./__button/header__button.css);
@import url(./__logout-icon/header__logout-icon.css);

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 80px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 40px 0;
  }
}